<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-firebasex-functions"
        version="1.0.3">

    <name>cordova-plugin-firebasex-functions</name>
    <description>Firebase Cloud Functions module for cordova-plugin-firebasex</description>
    <license>MIT</license>
    <keywords>cordova,firebase,functions,cloud functions</keywords>

    <engines>
        <engine name="cordova" version=">=12.0.0" />
        <engine name="cordova-android" version=">=14.0.0" />
        <engine name="cordova-ios" version=">=7.0.0" />
    </engines>

    <dependency id="cordova-plugin-firebasex-core" />

    <js-module src="www/firebasex-functions.js" name="FirebasexFunctionsPlugin">
        <clobbers target="FirebasexFunctions" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebasexFunctionsPlugin">
                <param name="android-package" value="org.apache.cordova.firebasex.FirebasexFunctionsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <preference name="ANDROID_FIREBASE_FUNCTIONS_VERSION" default="22.1.0" />
        <preference name="ANDROID_GSON_VERSION" default="2.13.2" />

        <framework src="com.google.firebase:firebase-functions:$ANDROID_FIREBASE_FUNCTIONS_VERSION" />
        <framework src="com.google.code.gson:gson:$ANDROID_GSON_VERSION" />
        <source-file src="src/android/FirebasexFunctionsPlugin.java"
                     target-dir="src/org/apache/cordova/firebasex" />
    </platform>

    <!-- iOS -->
    <platform name="ios" package="swift">
        <hook type="before_plugin_install" src="scripts/ios/before_plugin_install.js" />

        <config-file target="config.xml" parent="/*">
            <feature name="FirebasexFunctionsPlugin">
                <param name="ios-package" value="FirebasexFunctionsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebasexFunctionsPlugin.h" />
        <source-file src="src/ios/FirebasexFunctionsPlugin.m" />

        <preference name="IOS_FIREBASE_SDK_VERSION" default="12.9.0" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods use-frameworks="true">
                <pod name="FirebaseFunctions" spec="12.9.0" nospm="true"/>
            </pods>
        </podspec>

        <hook type="after_plugin_install" src="scripts/ios/after_plugin_install.js" />
    </platform>

</plugin>
